{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'home/cdntv.css' %}">



{% endblock %}
{% block 'dashboard' %}




<div class="adicionar-email">
    <h1 class="animate__animated animate__fadeInDown" style="margin-left:30px;"> {{usuario2}} Criando o email CDNTV </h1>
    <form action="{% url 'cdntv' %}" method="POST">
        {% csrf_token %}
        <div class="animate__animated animate__fadeInDown total" style="margin-left: 35%;">
            <div style="margin-top: 20px; margin-left:20px;">


                <div class="form">
                    <input type="text" autocomplete="off" name="origin" value="{{origin}}" required />
                    <label for="text" class="label-name">
                        <span class="content-name">
                            Manager:
                        </span>
                    </label>
                </div>

                <div class="form">
                    <input type="text" autocomplete="off" name="senha" value="{{senha}}" required />
                    <label for="text" class="label-name">
                        <span class="content-name">
                            Senha manager:
                        </span>
                    </label>
                </div>

                <div class="form">
                    <input type="text" autocomplete="off" name="edge" value="{{edge}}" required />
                    <label for="text" class="label-name">
                        <span class="content-name">
                            Edge:
                        </span>
                    </label>
                </div>


                <div class="form">
                    <input type="text" autocomplete="off" name="email" value="{{email}}" required />
                    <label for="text" class="label-name">
                        <span class="content-name">
                            E-mail do cliente:
                        </span>
                    </label>
                </div>

                <div class="form">
                    <input type="text" autocomplete="off" name="demanda" value="{{demanda}}" required />
                    <label for="text" class="label-name">
                        <span class="content-name">
                            Numero da demanda:
                        </span>
                    </label>
                </div>

                <div class="form">
                    <input type="text" autocomplete="off" name="provedor" value="{{provedor}}" required />
                    <label for="text" class="label-name">
                        <span class="content-name">
                            Nome do provedor:
                        </span>
                    </label>
                </div>



                <div class="frame">
                    <button type="submit" value="Enviar" class="custom-btn btn-16">Enviar</button>
                    <p style="font-family: Andale Mono, monospace;">
                </div>


            </div>

    </form>

    <div class="row">
        <div class="column animate__animated animate__fadeInRight" style="background-color:#333333; ">
            <h2>Lembrando que os acessos devem seguir esses modelos:</h2>
            <p>Manager: http://45.175.124.26:8089/ </p>
            <p>Senha do manager: admin@cliente.com </p>
            <p>Edge: https://subdomio_cliente.com.br/</p>
            <p>Titulo do email: CDNTV[#DEMANDA] PROVEDOR - Tipo do serviço</p>

        </div>
    </div>
</div>

{% endblock %}