{% extends 'base.html' %}
{% load static %}

{% block 'head'%}
<link rel="stylesheet" href="{% static 'home/vod.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
{% endblock %}


{% block 'dashboard' %}
<div class="adicionar-email">
    <h1 class="animate__animated animate__fadeInDown"  style="margin-left:30px;"> Criando o email do VOD </h1>
    <form action="{% url 'vod' %}" method="POST">
        {% csrf_token %}
        <div class="total" style="margin-left: 35%;">
            <div style="margin-top: 20px; margin-left:20px;">


                <div class="form">
                    <input type="text" autocomplete="off" name="origin2" value="{{origin2}}" required />
                    <label for="text" class="label-name">
                        <span class="content-name">
                            Manager:
                        </span>
                    </label>
                </div>

                <div class="form">
                    <input type="text" autocomplete="off" name="edge2" value="{{edge2}}" required />
                    <label for="text" class="label-name">
                        <span class="content-name">
                            Edge:
                        </span>
                    </label>
                </div>


                <div class="form">
                    <input type="text" autocomplete="off" name="email2" value="{{email2}}" required />
                    <label for="text" class="label-name">
                        <span class="content-name">
                            E-mail do cliente:
                        </span>
                    </label>
                </div>

                <div class="form">
                    <input type="text" autocomplete="off" name="demanda2" value="{{demanda2}}" required />
                    <label for="text" class="label-name">
                        <span class="content-name">
                            Numero da demanda:
                        </span>
                    </label>
                </div>

                <div class="form">
                    <input type="text" autocomplete="off" name="nprovedor" value="{{nprovedor}}" required />
                    <label for="text" class="label-name">
                        <span class="content-name">
                            Nome do provedor:
                        </span>
                    </label>
                </div>

                

                <div class="frame">
                    <button type="submit" value="Enviar" class="custom-btn btn-16">Enviar</button>
                    <p style="font-family: Andale Mono, monospace;">
                  </div>
                  
                
            </div>
            
    </form>



    <div class="row">
        <div class="column animate__animated animate__fadeInDown" style="background-color:#333333; ">
            <h2>Lembrando que os acessos devem seguir esses modelos:</h2>
            <p>Manager: http://45.175.124.26:8089/ </p>
            <p>Edge: https://subdomio_cliente.com.br/</p>
            <p>Titulo do email: CDNTV[#DEMANDA] PROVEDOR - Tipo do serviço</p>

        </div>

        
    </div>
</div>
{% endblock %}

{% block 'body' %}
{% endblock %}
<script src="{% static 'js/base.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

