body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2A2A2A;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
}

h1 {
    padding-bottom: 30px;
    font-weight: 900;
    font-size: 35px;
    right: 30%;
}

.btn-principal {
    position: -webkit-sticky;
    margin-left: -55%;
    height: 50px;
    width: 70px;
}



.form {
    width: 45%;
    position: relative;
    right: 55%;
    height: 120px;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    color: #fff;
    padding-top: 20px;
    border: none;
    background-color: #2A2A2A;
}

.form label {
    position: absolute;
    bottom: 25px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid white;
}

.form label::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: -2px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #DA632C;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 0px;
    left: 5px;
    padding-bottom: 5px;
    transition: all 0.7s ease;
}

.form input:focus {
    outline: none;
}

.form input:focus+.label-name .content-name,
.form input:valid+.label-name .content-name {
    transform: translateY(-80%);
    font-size: 14px;
    left: 0px;
    color: #DA632C;
}

.form input:focus+.label-name::after,
.form input:valid+.label-name::after {
    transform: translateX(0%);
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    margin-top: -35%;
    margin-left:10%;
    width: 80%;
    padding: 10px;
    height: 250px;
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }