<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div style = "font-size:14px;">
    <div style = "text-align: justify;">
    <span style ="font-family: sans-serif;">
    <p>Olá, tudo bem?</p>

    <p>Somos do suporte técnico da Technobox/CDNTV e percebemos que perdemos a comunicação com o(s) seguinte(s) servidor(es):</p>

    <p style="color:#946bb2;">Origin (IP {{origin6}})</p>
    <p style="color:#946bb2;">Vod (IP {{vod1}})</p>
    <br>

    <p>Ficamos inteiramente à disposição caso necessitem de algum auxílio técnico.</p>

    <p>O nosso suporte via WhatsApp/ligação funciona de segunda à sábado das 08:30 às 23:00 (horário de Brasília) pelo número (51) 3392-9584. Para suporte fora desses horários ou para alguma emergência, estamos disponíveis pelo número de plantão (51) 9 8353-0010, que funciona 24/7.</p>

    <p>Atenciosamente,</p>
    </span>
</body>
</html>
