<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicativo email</title>
</head>
<body>
    <div style = "font-size:14px;">
    <div style = "text-align: justify;">
    <span style ="font-family: sans-serif;">
    </p>Olá, tudo bem?</p>

    <p>Segue  as informações abaixo e os link's para download das suas aplicações.</p>

<p>1)<b>{{nome}}</b> - Este aplicativo é para utilização da CDNTV em Smartphones e Tablets. Com eles é possível assistir aos canais através dos dispositivos móveis.</p>

 

<p><b>Link para sistema operacional Android:</b> <a href="{{mobile}}">{{mobile}}</a></p>

 



<p></b>Link para sistema operacional IOS:<b> <a href="{{ios}}">{{ios}}</a></p>

 

 

<p>2) <b>{{nome}}</b> Set-Top Box e Android TV - Este aplicativo é para utilização da CDNTV em dispositivos SET-TOP BOX e TV's com sistema operacional Android ou Android TV . Este aplicativo mantem a identidade visual do STB inalterada, apenas adicionando mais um aplicativo à grade pré-existente do dispositivo.</p>

 

<p><b>Link para sistema operacional Android e Android TV:</b><a href="{{stb}}">{{stb}}</a></p>

 

 

<p>3) {{nome}} Launcher - Este aplicativo é para instalação em dispositivos do tipo SET-TOP BOX (STB). Este aplicativo é instalado em conjunto com o aplicativo Set-Top Box, e com isso ele altera completamente o layout original do STB por uma interface completamente voltada para o produto, trazendo a identificação visual, logotipo e demais personalizações, fazendo com que a experiência do usuário final seja centralizada no uso da CDNTV e não em outros aplicativos instalados no dispositivo. Esse aplicativo não é encontrado nas Stores, você pode realizar o download diretamente de suas plataformas através do link abaixo.</p>

 

<p><b>OBS:</b> Baixar sempre a ultima versão em apk</p>

 

<p><b>Link:</b><a href="{{apks}}">{{apks}}</a></p>



 

<p>Com relação a instalação em SmartTV's, deverá ser buscado pelo nome “CDNTV Play” na loja de aplicativos das respectivas marcas. Após instalar o aplicativos, selecione o seu provedor e entre com os dados de acesso, abaixo seguem os modelos de televisores já homologados e com o aplicativos disponível para uso.<p>

      

<p><b>Atenção:</b></p>

<p>A loja de aplicativos deve estar com a localidade definida para o Brasil.</p>

                                                 

<p><b>Multilaser</b></p>

 

<p><b>LG<</b></p>

<p><b>(webOSTV 3.5, 4.0, 4.5 5.0 e 6.0)</b></p>

 

<p><b>TCL</b></p>

<p>(MS 6586, NT 563 e MS 6586 em TV's mais recentes o sistema operacional é Android TV, aonde poderá ser instalado o seu aplicativo pela Play Store).</p>

 

<p><b>HAIER</b></p>

<p>(MSD 6586, MS6586, MTK 5510, HISI553 AMG960, MSD358, MS 6486).</p>

 

<p><b>Hikeen</b></p>

<p>(RTK2861, RTK 2831</p>

 

<p>Cultraview</p>

<p>(AMG 950x)</p>



<p><b>Amazon TV</b></p>
<p>
<p>Fire TV (2014)</p>
<p>Fire TV Stick</p>
<p>Fire TV (2015)</p>
<p>Fire TV Stick com Alexa Voice Remote<p>
<p>Amazon Fire TV Edition<p>
<p>Fire TV (Gen 3)</p>
<p>Fire TV Stick 4K</p>
<p>Fire TV Edition - Nebula D3000 Soundbar (2019)</p>
<p>Edição Fire TV - Insignia 4K (2018)</p>
<p>Fire TV Cube</p>
<p>Edição Fire TV - Insignia HD (2018)</p>
<p>Fire TV Edition - Toshiba 4K (2018)</p>
<p>Fire TV Edition - Toshiba HD (2018)</p>
<p>Edição Fire TV - Onida HD / FHD (2019)</p>
<p>Fire TV Cube (2ª geração)</p>
<p>Edição Fire TV - JVC 4K UHD Smart (2019)</p>
<p>Edição Fire TV - Grundig Vision 7 (2019)</p>
<p>Edição Fire TV - Grundig OLED (2019)</p>
<p>Edição Fire TV - Grundig Vision 6 (2019)</p>
<p>Toshiba 4K UHD Smart TV - Fire TV Edition</p>
<p>Fire TV Stick Lite</p>
<p>Fire TV Stick (3ª geração)</p>
<p>OK UHD - Edição Fire TV</p>
<p>Edição Fire TV - Onida / AKAI HD / FHD (2020)</p>
<p>Edição Fire TV - JVC Smart HD / FHD (2020)</p>
<p>Edição Fire TV - AB / Croma HD / FHD (2020)</p>
<p>Edição Fire TV - AB / AKAI / Croma UHD (2020)</p>



<p><b>SAMSUNG</b></p>
<p>21TV_STANDARD1</p>
<p>21TV_PREMIUM3</p>
<p>21TV_PREMIUM2</p>
<p>21TV_PREMIUM1</p>
<p>21TV_BASIC1</p>
<p>20TV_STANDARD</p>
<p>20TV_PREMIUM</p>
<p>20TV_BASIC2</p>
<p>20TV_BASIC1</p>
<p>19TV_STANDARD</p>
<p>19TV_PREMIUM</p>
<p>18TV_STANDARD3</p>
<p>18TV_STANDARD2</p>
<p>18TV_STANDARD1</p>
<p>18TV_PREMIUM</p>
<p>17TV_STANDARD</p>
<p>17TV_PREMIUM</p>



 

<p><a style="color:#ff0000;">Para maiores informações sobre os grupos da Samsung consulte o link abaixo:</a></p>

<p><a href="https://developer.samsung.com/tv/develop/specifications/tv-model-groups">https://developer.samsung.com/tv/develop/specifications/tv-model-groups</a></p>





<p>Qualquer dúvida, estamos à disposição.</p>

 

 

 

<p>Atenciosamente,</p>
<p>Atenciosamente,</p>
<img src = "https://br.hubspot.com/hs-fs/hubfs/email-signature-example-generator.png?width=394&name=email-signature-example-generator.png">
</div>
</div>
</span>
</body>
</html>