<head>

</head>
<body>
<div style = "font-size:14px;">
<div style = "text-align: justify;">
<span style ="font-family: sans-serif;">
<p>Olá, tudo bem?</p >

 

<p>Informamos que a CDNTV (Origin/Edge) foi instalada com sucesso na sua estrutura. Já é possível acessar o centro de gerenciamento da CDNTV (CDNTV Manager) através dos acessos abaixo mencionados. Através desta central é possível: gerenciar canais, usuários e firewall, além de visualizar as estatísticas de acesso.</p>

 

<p>Foram configurados dois servidores para sua CDNTV:</p>

 

<p>Origin - Responsável pela gerência da CDNTV e pela recepção dos fluxos.
Edge - Responsável pelo player web e pela distribuição dos fluxos.</p>

 

<p>--</p>

 

<p><b>Origin:</b><a href="{{origin}}">{{origin}}</a></p>







<p><b>Usuário:</b> admin</p>
<p><b>Senha:</b>{{senha}}</a></p>



<p>--</p>





<p><b>Edge: </b><a href="{{edge}}">{{edge}}</a></p>

 



<p><b>Usuário:</b>cliente</p>
<p><b>Senha:</b> cliente</p>

 

 

<p>--</p>



 



<p>Terminada a instalação dos servidores, já enviamos as imagens para a geração das aplicações.</p>



 



<p>Em adição, você pode conferir nossa documentação completa para o uso da plataforma clicando <span style="color: ff6600;"><a href="https://cdntv.notion.site/cdntv/Documenta-o-CDNTV-026f0de2b0ca445a8ab968e7f9dcad84">aqui</a></span></p>



 



<p>No menu “Guias e Processos” encontram-se os tutoriais do passo-a-passo inicial (Começando) e da administração da interface web (Painel de Administração), contendo vídeos explicativos para o uso de todas as funções disponíveis na plataforma.</p>



 



<p>--</p>



 



<p>O nosso suporte via Skype funciona de <span style="color: blue">segunda</span> à <span style="color: blue">sexta</span>, das 08:30 às 23:00, e aos sábados, das 09:00 às 17:30 (horário de Brasília). Para suporte relacionado a problemas ou alguma emergência, possuímos o número plantão - (51) 98353 0010, que funciona 24 horas, todos os dias.</p>



 



<p>Atenciosamente,</p>
<img src = "https://br.hubspot.com/hs-fs/hubfs/email-signature-example-generator.png?width=394&name=email-signature-example-generator.png">

</span>
</div>
</div>
</body>